In [1]:
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
# nltk.download('stopwords')
# nltk.download('wordnet')
import spacy
# !python3 -m spacy download en_core_web_sm
import sklearn

In [2]:
reviews = pd.read_csv('raw_reviews.csv')

In [4]:
reviews.head()

  Sentiment     Time                                               Text
0  positive  18/6/21  This is a very healthy dog food. Good for thei...
1  positive   7/7/21  I've been very pleased with the Natural Balanc...
2  positive  18/6/21  Before I was educated about feline nutrition, ...
3  positive   7/7/21  My holistic vet recommended this, along with a...
4  positive   1/7/21  I bought this coffee because its much cheaper ...

In [21]:
def get_basic_tokens(text):
    #remove ' from 's, 've, 'nt
    text = re.sub(r"'", '', text)
    
    #remove br in <br> or </br>
    text = re.sub(r"br", '', text)
    
    #remove numbers
    text = re.sub(r"\d+", '', text)
    
    #split by space and punctuation
    tokens = re.split(r'[^\w]', text)
    
    #remove empty
    tokens = [i for i in tokens if i != '']
    
    return tokens

In [26]:
reviews['tokens'] = reviews.Text.apply(get_basic_tokens)
reviews['num_tokens'] = reviews.tokens.apply(lambda x: len(x))

In [27]:
reviews.head()

,Sentiment,Time,Text,tokens,num_tokens
0,positive,18/6/21,This is a very healthy dog food. Good for thei...,"[This, is, a, very, healthy, dog, food, Good, ...",25
1,positive,7/7/21,I've been very pleased with the Natural Balanc...,"[Ive, been, very, pleased, with, the, Natural,...",62
2,positive,18/6/21,"Before I was educated about feline nutrition, ...","[Before, I, was, educated, about, feline, nutr...",127
3,positive,7/7/21,"My holistic vet recommended this, along with a...","[My, holistic, vet, recommended, this, along, ...",93
4,positive,1/7/21,I bought this coffee because its much cheaper ...,"[I, bought, this, coffee, because, its, much, ...",75